
		<div class="row">
			<main class="col-md-12">

				<h3 class="heading">Welcome to Home Page !! </h3>
				<p class="paragraph">Welcome to my website. Here, I will be demonstrating HTML5 principles and techniques, Routing in Express.
				</p>
				<br>
				<br>
				<h3 class="heading">Introduction</h3>
				
				<p class="paragraph">This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data,
					including:
				<table class="table">
					<tr class="tablerow">
						<td class="tabledata">
						<ol class="orderedlist">
							<li class="listitem">
								<a href="/students">All Students</a>
							</li>
							<li class="listitem">
								<a href="/students?course=3">Students by Course</a>
							</li>
							<li class="listitem">
								<a href="/student/2">A Single Student By Student Number</a>
							</li>
							<li class="listitem">
								<a href="/tas">All TA</a>
							</li>
							<li class="listitem">
								<a href="/courses">All Courses</a>
							</li>
							<li class="listitem">
								<a href="/">Home</a>
							</li>
							<li class="listitem">
								<a href="/about">About</a>
							</li>
							<li class="listitem">
								<a href="/htmlDemo">Html Demo</a>
							</li>
							<li class="listitem">
								<a href="/students/add">Add Student</a>
							</li>
						</ol>
					</td>
					</tr>
				</table>

				</p>
				<h4 class="heading">Brief Introduction to HTML5</h4>
				<p class="paragraph">This site utilizes HTML5: a markup language used for structuring and presenting content on the World
					Wide Web.</p>

			</main>
		</div>
	