
			<div class="row">
				<main class="col-md-12">



					<h3 >Welcome to HTML Demo Page</h3>
					<p class="paragraph">This page is going to contain below mention section-</p>
					<h2>Table Section</h2>
					<table class="table">
						<caption>Table 1: Student Information</caption>
					
						<thead>
							<tr class="tablerow">
								<th>Name</th>
								<th>Country</th>
								<th>Course</th>
							</tr>
						</thead>
					
						<tbody>
							<tr class="tablerow">
								<td class="tabledata">Andre</td>
								<td class="tabledata">Brazil</td>
								<td class="tabledata">BTT</td>
							</tr>
							<tr>
								<td class="tabledata">Susmita</td>
								<td class="tabledata">China</td>
								<td class="tabledata">BTT</td>
							</tr>
							<tr class="tablerow">
								<td class="tabledata">Jeff</td>
								<td class="tabledata">India</td>
								<td class="tabledata">BTT</td>
							</tr>
							<tr class="tablerow">
								<td class="tabledata">Anamika</td>
								<td class="tabledata" rowspan="2">Japan</td>
								<td class="tabledata">BTT</td>
							</tr>
							<tr class="tablerow">
								<td class="tabledata">Navanita</td>
								<td class="tabledata">BTT</td>
							</tr>
						</tbody>
					
						<tfoot>
							<tr class="tablerow">
								<th colspan="2">Student are from Section:</th>
								<th>ZCC</th>
							</tr>
						</tfoot>
					</table>
					<table>
						<caption>Table 2: Subject Information</caption>
					
						<thead>
							<tr class="tablerow">
								<th>Sub</th>
								<th>Difficulty</th>
								<th>No. of classes</th>
							</tr>
						</thead>
					
						<tbody>
							<tr class="tablerow">
								<td class="tabledata">PMC</td>
								<td class="tabledata">Easy</td>
								<td class="tabledata">4</td>
							</tr>
							<tr class="tablerow">
								<td class="tabledata">NWK</td>
								<td class="tabledata">Difficult</td>
								<td class="tabledata">5</td>
							</tr>
							<tr class="tablerow">
								<td class="tabledata">WEB</td>
								<td class="tabledata">Moderate</td>
								<td class="tabledata">4</td>
							</tr>
							<tr class="tablerow">
								<td class="tabledata">OSM</td>
								<td class="tabledata" rowspan="2">Difficult</td>
								<td class="tabledata" rowspan="2">6</td>
							</tr>
							<tr class="tablerow">
								<td>OSL</td>
							</tr>
						</tbody>
					
						<tfoot>
							<tr class="tablerow">
								<th colspan="2">Course is BTT and section is :</th>
								<th>ZCC</th>
							</tr>
						</tfoot>
					</table>
					<p class="paragraph">This paragraph gives the details about the above tables tag. Here, 
						the above Table-1 contains details of student section, having columns as name , country and course.
						Table-2, contains the details of course, its difficulty level and number of classes per week to study that.
					</p>

					<h2>List Section</h2>
					<ul><li>Name:Susmita</li><li>Country:Canada</li><li>City:Toronto</li><li>School:Seneca</li><li>Campuses:<ol><li>SIA</li><li>Newnham</li><li>York</li><li>King</li></ol></li></ul>
					<p class="paragraph"> In this section we learned about the list, some are unordered list and some are ordered list.
						name , country, city , school and campuses heading details are in unordered list and campuses name are in ordered list namely SIA, Newnham, York and king is in ordered sequence	</p>
					
					<h2>Images Section</h2>
					<img src="https://www.wfla.com/wp-content/uploads/sites/71/2023/05/GettyImages-1389862392.jpg?w=1280&h=720&crop=1" alt="Picture of a cat" width="400">
					<img src="https://thumbor.forbes.com/thumbor/fit-in/1290x/https://www.forbes.com/advisor/wp-content/uploads/2023/07/top-20-small-dog-breeds.jpeg.jpg" alt="Picture of a dog" width="400">
					<img src="https://www.aejames.com/wp-content/uploads/2019/01/Parrot-Care-1300x1300.jpg" alt="Picture of a parrot" width="400">
					<p>In the above section we have added three images.Namely Cat , Dog and Parrot.
						we have used src, alt and width property from img tag. 
					</p>
					
					<h2>Audio Section</h2>
					<audio controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mp3">
					</audio><br>
					<audio controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/mp3">
					</audio>
					<P class="paragraph">This section has audio control , allowing user to play, pause and control volume while listening the audio file</P>
					<br>

					<h2>Video Section</h2>
					<video width="320" height="240" controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
					</video>
					<video width="320" height="240" controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/ogg">
					</video>
					<video width="320" height="240" controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
					</video>
					<p class="paragraph">This section contains video. It has source and dimension of video player control</p>
				</main>
			</div>
		